<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 映射数据类型 -->
	<typeAliases>
		<package name="priv.module.business.person.bean" />
	</typeAliases>
	
	<!-- 插件配置 -->
	<plugins>
		<plugin interceptor="priv.module.business.person.config.PagePlugin">
			<!-- 默认页码 -->
			<property name="page" value="1" />
			<!-- 默认每页条数 -->
			<property name="pageSize" value="10" />
			<!-- 是否启动分页插件功能 -->
			<property name="useFlag" value="true" />
			<!-- 是否检查页码有效性，如果非有效，则抛出异常. -->
			<property name="checkFlag" value="false" />
			<!-- 针对哪些含有order by的SQL，是否去掉最后一个order by 以后的SQL语句，提高性能 -->
			<property name="cleanOrderBy" value="false" />
		</plugin>
	</plugins>

</configuration>